@font-face {
    font-family: CenturyGothic;
    src: url(CenturyGothic.tff);
}

* {
   box-sizing: border-box;
}


html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'CenturyGothic';
  color: #D9D9D9;
}

.main-bg {
  background: url(../img/background/BG1.gif)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
 color: #FDFEF6;
}

img {
  width: 100%;
}

#splashscreen {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  background-color:white;
}

#splashscreen img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) { 
    #splashscreen img  {
      left: 50%;
      margin-left: -512px;
    }
  }
}


.bg1 img {

    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
  }

  @media screen and (max-width: 1024px) { 
    .bg1 img  {
      left: 50%;
      margin-left: -512px; 
    }
  }
}



.container {
}

div.container {
  display:inline-block;
  margin-left: 2%;
}

.container img {
  width: 220px;
}

.container img:hover {
  opacity: 0.4
}

p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align:center;
  margin: 0;
}

.recent {
  font-size: 26px;
}


/*ABOUT PAGE */

img.about-bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.about-bg {
    left: 50%;
    margin-left: -512px;
  }
}

/*CONTACT PAGE*/

.contact-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}

.contact-box p {
  font-size: 1em;
  text-align: left;
 padding-bottom: 10px;
 padding-left: 35px;
}

hr {
 margin-left: 35px;
 width: 22%;
 float: left;
 height: 2px;
 background: #D9D9D9;
 font-size: 0;
 border: 0;
}

/*ABOUT PAGE*/

.about-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
}

.about-box p {
  text-align: right;
 padding-bottom: 10px;
 padding-right: 35px;
}


/*PLAY BUTTON*/

/*.mute, .unMute {position:absolute;top:30px;right:30px;color:white;}
.unMute {display:none;}
.mute img, .unMute img {height:25px;}*/


/*GRID */


.video-container {
  width:100%;
  max-width: 98%;
  margin: 11em auto;
  overflow:hidden;
  padding:.1em;
}

img {
  max-width:100%;
}

.item {
  width:25%;
  float:left;
  padding: 0.3em;
}

.item p {
  min-height:1em;
  margin: .10em 0 0 0;
  font-size: 1em;
  text-align: center;
}

.item:hover p {
  opacity: 0.5;
  cursor: pointer;
}

.item:hover img {
  opacity: 0.5;
}

@media screen and (min-width:1500px) {
  
 .video-container {

   margin: 12em auto;


 }
  
  .item {
   margin-top: 10%;
  }

}


@media screen and (max-width:800px) {
  
 
  .item {
    width:50%;
  }
  
  .item p {
  font-size:.8em;
  }

}

@media screen and (max-width:400px) {
  
  body {

  }
  
  .item {
    width:100%;
  }

}


/*BACK GROUND RANDOM*/
